/*html {
  position: fixed;
}*/

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  color: red;
  font-family: monospace;
}

/* main layout */

#scroll-target {
  height: inherit;
  overflow: auto;
}

div.wrapper-item {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}

/* image and metadata layout */

div.img-container {
  margin: 2em auto;
  max-width: 400px;
  height: 400px;
  width: 90%;
  background-color: #999;
}

img.photo {
  width: 100%;
  max-height: 400px;
}

.metadata {
  margin: 0 auto;
  font-size: 2em;
  max-width: 400px;
  width: 90%;
}

.metadata > ul {
  width: inherit;
  height: inherit;
}

.metadata > ul > li {
  padding-bottom: 0.25em;
}

/* media queries */

@media (max-width: 700px) {
  .metadata {
    font-size: 1em;
  }

  div.img-container {
    margin: 2em auto;
    max-width: 400px;
    height: 300px;
    width: 90%;
  }

  img.photo {
    width: 100%;
    max-height: 300px;
  }

}

/* a common helper class */
/*.hidden {
  display: none;
}*/

