body {
  color: red;
  font-family: monospace;
}

/* a common helper class */
.hidden {
  display: none;
}

/* main layout */

div.wrapper-main {
  margin: 5em 0;
  overflow: hidden;
}

div.wrapper-item {
  max-width: 1000px;
  margin: 0 auto;
  width: 80%;
}

/* image and metadata layout */

div.img-container {
  margin: 2em auto;
  height: 500px;
  width: 500px;
  background-color: #999;
}

img.photo {
  width: 500px;
  max-height: 500px;
}

.metadata {
  margin: 0 auto;
  height: 4em;
  width: 500px;
}

.metadata > ul {
  margin: 0 auto;
  width: inherit;
  height: inherit;
}

.metadata > ul > li {
  float: left;
  padding: 1em 1em 1em 0;
  margin-right: 1em;
}
