body {
  color: red;
  font-family: monospace;
}

/* a common helper class */
.hidden {
  display: none;
}

/* main layout */

div.wrapper-main {
  margin: 5em 0;
  overflow: hidden;
}

div.wrapper-item {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}

/* image and metadata layout */

div.img-container {
  margin: 2em auto;
  max-width: 400px;
  height: 400px;
  width: 90%;
  /*background-color: #999;*/
}

img.photo {
  width: 100%;
  max-height: 400px;
}

.metadata {
  margin: 0 auto;
  font-size: 2em;
  max-width: 400px;
  width: 90%;
}

.metadata > ul {
  width: inherit;
  height: inherit;
}

.metadata > ul > li {
  padding-bottom: 0.25em;
}
